<div class="container">
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Genre</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @songs.each do |s| %>
				<tr>
					<td><%= link_to s.name, song_path(s) %></td>
					<td><%= s.genre.name %></td>
					<td><%= link_to 'Edit', edit_song_path(s), class: "btn btn-dark" %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>