<h1>POKEDEX</h1>

<table>
  <tr>
    <th>Num</th>
    <th>Name</th>
    <th></th>
  </tr>

  <% @pokemons.each do |pokemon| %>
    <tr>
      <td><%= pokemon.num %></td>
      <td><%= pokemon.name %></td>
      <td><%= link_to 'Edit', edit_pokemon_path(pokemon) %></td>
      <td><%= link_to 'Delete', pokemon_path(pokemon),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>