<h1>POKEDEX</h1>

<table>
  <tr>
    <th>Num</th>
    <th>Name</th>
    <th></th>
  </tr>

    <tr>
      <td><%= @pokemons.num %></td>
      <td><%= @pokemons.name %></td>
      <td><%= link_to 'Edit', edit_pokemon_path(@pokemons) %></td>
      <td><%= link_to 'Destroy', pokemon_path(@pokemons),
      method: :delete,
      data: { confirm: 'Are you sure?' } %></td>
    </tr>
</table>